@{
    ViewBag.Title = "Home";
}

<h1>Welcome to My Portfolio</h1>
<p>Hi, I’m Harshad, a passionate full-stack developer. Explore my work!</p>
<a href="@Url.Action("About", "Home")">Learn More About Me</a>
